@model IEnumerable<Pr>

@{
    ViewData["Title"] = "Shed 3 And 4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="text-center">
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Index">
            <span>  All Shed </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed1">
            <span> Shed-1 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed2">
            <span>  Shed-2 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed3And4">
            <span>  Shed-3&4 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed5">
            <span>  Shed-5 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed6">
            <span>  Shed-6 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed7">
            <span>  Shed-7 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed8">
            <span>  Shed-8 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed10">
            <span>  Shed-10 </span>
        </a>
        <a class="btn btn-primary text-white pr-2 btn-sm" asp-area="" asp-controller="Pr" asp-action="Shed11">
            <span>  Shed-11 </span>
        </a>
        <a class="btn btn-primary text-white btn-sm " asp-area="" asp-controller="Pr" asp-action="Shed12">
            <span>  Shed-12 </span>
        </a>

    </div>
    <div>
        <canvas id="myChart" style="max-height:350px; max-width:100%"></canvas>

        @*<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1"></script>
        <canvas id="myChart"></canvas>*@

        @section scripts {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.7.7/chartjs-plugin-zoom.min.js"></script>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: @Html.Raw(Json.Serialize(Model.Select(x => x.Time))),
                        datasets: [{
                            label: '',
                            data: @Html.Raw(Json.Serialize(Model.Select(x=>x.Shed3And4).ToList())),
                            backgroundColor: 'rgba(58, 96, 246, 0.7)',
                            borderColor: 'rgba(60, 56, 246, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    maxTicksLimit: 20
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'X Axis Label'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: 1000,
                                    beginAtZero: true
                                },
                                scaleLabel: {

                                    display: true,
                                    labelString: 'Y Axis Label'
                                }
                            }]
                        },
                        plugins: {
                            zoom: {
                                zoom: {
                                    enabled: true,
                                    mode: 'x'
                                },
                                pan: {
                                    enabled: true,
                                    mode: 'x'
                                }
                            }
                        }
                    }
                });

            </script>
        }
    </div>
    <hr />
    <div class="table-responsive">
        <h3 class="text-center"> Shed-1 Pr </h3>

        <table class=" table table-bordered table-striped align-middle">
            <thead>
                <tr>
                    <th> Time </th>
                    <th> Shed 3 & 4  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem=>obj.Time)</td>
                        @*<td>@obj.Time</td>*@
                        <td>@obj.Shed3And4</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>